*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: #66545e;
}

p{
    text-align: center;
}

button, p{
    position: relative;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    margin-bottom: 1vw;
}